#anigar-bg {
    background-image: url("../img/d2.jpg");
    width: 100%;
    background-size: cover;
    width: 100%;

}

.slider-box .bx-wrapper {
    border: none;
    box-shadow: none;
    margin-bottom: 0;

}

#anigar-2 {
    background-image: url("../img/download.jpg");
    width: 100%;
    background-size: cover;
    width: 100%;
}

.intro-text-h {
    text-align: center;
    text-transform: uppercase;
    margin-top: 125px;
    color: lightgray;
    font-weight: bold;
    letter-spacing: 9px;
    font-size: 44px;
}

.intro-text-p {
    font-size: 33px;
    color: white;
    text-align: center;
    line-height: 1;
    letter-spacing: 8px;
}

.special {
    color: #dc3545;
    text-shadow: 1px 1px 0 0 gray;
}

.btn-slider:hover {
    color: white;
    text-decoration: none;
    background-color: maroon;
}

.quote-p {
    color: #dc3545;
}

.quote-icon {
    font-size: 50px;
    left: 50px;
    color: #dc3545;
}
.team-p{
    font-size: 22px;
}

.btn-f {
    background-color: #dc3545;
    text-transform: uppercase;
}

.btn-f:hover {
    background-color: maroon;
}

.team-h {
    font-size: 50px;
}

.footer-icons {
    font-size: 50px;
}

.round {
    border-radius: 10%;
}

.gap {
    padding: 100px;
}

.slider-inner1 {
    padding: 95px;
}

.our-th {
    color: lightgray;
    text-shadow: 2px 2px 1px 3px black;
    text-align: center;
    font-size: 51px;
    text-transform: capitalize;
    box-shadow: -1px 16px 9px -15px grey;
}

.style {
    box-shadow: 1px 1px 1px 1px #ff4d4d;
}
.team-icon{
    font-size: 30px;
    text-align: center;
    padding: 10px;
}
.last-h{
    font-size: 22px;
    color: gray;
}
.last h2{
    font-size: 23px;
    color: #3e4042;
}

@media only screen and (max-width: 433px) {
    .team-h {
        font-size: 39px;

    }

    .intro-text-h {
        font-size: 30px;
    }

    .intro-text-p {
        font-size: 25px;
    }

    .our-th {
        font-size: 40px;
    }

    .expand {
        font-size: 29px;
    }
}
//* p mq*/
@media(max-width: 1000px) {
    .team-p{
        font-size: 16px;
    }

}
@media(max-width: 375px) {
    .team-p{
        font-size: 14px;
    }

}

/*    galeery csss */
.galh {
    top: 100px;
    width: 100%;
    text-align: center;
}

.gallery-box .col-sm-4 img {
    width: 100%;
    padding: 20px;
    padding-right: 0;
}

.gallery-box {
    padding-top: 12px;
}

/*   memberse css */
.footer-m {
    margin-top: 500px;
}

/*     external

 */
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    width: 100%;
}




.hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    color: #FFF;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.hovereffect a, .hovereffect p {
    color: #FFF;
    padding: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@media(max-width: 991px) {
    .overlay h2{
        font-size:15px;
    }
    .overlay p,.overlay a{
        font-size: 9px;
        line-height: 1;
        font-weight: bold;
        letter-spacing: 1;
    }

@media(max-width: 767px){
    .overlay h2{
        font-size: 20px;
        padding: 12px;

    }
    .overlay{
        letter-spacing: 1;
    }
    .overlay p,.overlay a{
        font-size:14px ;
    }
}
}
@media(max-width: 575px){
    .overlay h2{
        font-size: 25px;
        padding: 22px;

    }
    .overlay{
        letter-spacing: 1px;
    }
    .overlay p,.overlay a{
        font-size:18px ;
        padding: 18px;
    }

}
@media(max-width: 388px){
    .overlay h2{
        font-size: 18px;
        padding: 10px;

    }
    .overlay{
        letter-spacing: 1px;
    }
    .overlay p,.overlay a{
        font-size:15px ;
        padding: 6px;
    }

}
.nav-item:hover{
    background-color: #c83333;
}
.last-hh{
    color: #504444b8;
}
.is{
    font-size: 36px;
}